<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/js/bootstrap/bootstrap3/css/bootstrap.css"/>
    <!-- 左侧导航树 -->
    <link rel="stylesheet" href="/js/bootstrap/bootstrap-treeview/bootstrap-treeview.min.css">
    <script src="/js/bootstrap/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <!-- 选项卡 -->
    <link rel="stylesheet" href="/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.css">
    <script src="/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>

    <link rel="stylesheet" href="/js/bootstrap/bootstrap-table/bootstrap-table.css">
    <script src="/js/bootstrap/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <title>树</title>
</head>
<body>
<!-- 导航条 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">金科教育</a>
        </div>
    </div>
</nav>

<!-- 内容布局容器 -->
<div class="container-fluid" style="margin-top:59px">
    <div class="row">
        <div class="col-md-2">
            <div id="myTree"></div>
        </div>
        <div class="col-md-10">
            <!-- 选项卡 勿动 -->
            <div id="myTabs">
                <!-- 新选项卡 -->
                <ul class="nav nav-tabs" id="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">欢迎</a>
                    </li>
                </ul>
                <!-- 选项卡下内容 -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        initMyTree();
    })

    //初始化导航树
    function initMyTree() {
        $.ajax({
            url: '/tree/gettree',
            type: 'post',
            data: {},
            dataType: 'json',
            success: function (result) {
                $('#myTree').treeview({
                    data: result,
                    onNodeSelected: function (event, node) {
                        $.addtabs({iframeHeight: 650});
                        $.addtabs.add({
                            id: node.id,
                            title: node.text,
                            url: node.href
                        });
                    }
                })
            }
        })
    }
</script>
</html>